<div class="container mt-5 content-wrapper">
  <h2>List of Tasks</h2>

  <!-- Task List Display -->
  <ul class="list-group shadow-sm">
    <li *ngFor="let task of tasks" class="list-group-item d-flex justify-content-between align-items-center task-item"
      [class.completed]="task.completed">

      <div class="d-flex align-items-center">
        <div class="form-check me-3">
          <input type="checkbox" class="form-check-input h5 mb-0" [checked]="task.completed"
            (change)="updateTaskStatus(task.id, !task.completed)">
        </div>
        <div class="task-content">
          <h5 class="mb-0 task-title">{{ task.title }}</h5>
          <p class="mb-0 text-muted small">{{ task.description }}</p>
        </div>
      </div>

      <div class="actions">
        <button class="btn btn-sm text-danger" (click)="deleteTask(task.id)" title="Delete Task">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </li>
  </ul>

  <!-- If no tasks exist -->
  <div *ngIf="tasks.length === 0" class="alert alert-info mt-3">
    No tasks for now. Try adding one!
  </div>

  <!-- Form to add new tasks -->
  <div class="card mt-3">
    <div class="card-header">Add New Task</div>
    <div class="card-body">
      <form #taskForm="ngForm">
        <div class="form-group mb-3">
          <label for="title" class="form-label fw-bold">Title</label>
          <input [(ngModel)]="task.title" required="required" type="text" class="form-control" name="title"
            placeholder="Enter task title" [class.is-invalid]="submitted && !task.title.trim()">
          <div class="invalid-feedback">
            Please enter a title for the task!
          </div>
        </div>
        
        <div class="form-group mb-3">
          <label for="description" class="form-label fw-bold">Description</label>
          <textarea [(ngModel)]="task.description" class="form-control" name="description" rows="3"
            placeholder="Enter task description"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" (click)="addTask()">Add Task</button>
      </form>
    </div>
  </div>
</div>